    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-reorder"></i></a>
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="active">OpenStack Releases</li>
            <ul id="releaseList"/>
          <li {% if page.slug == "learn-more" %} class="active" {% endif %}>
              <a href="{{ site.ntapos }}"><i class="fa fa-book"></i>NetApp OpenStack Community</a></li>
          <li><a href="{{ site.www }}"><i class="fa fa-book"></i>Learn More</a></li>
          <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i>Follow @OpenstackNetApp</a></li>
        </ul>
      </div>

      <div class="container">
      {% if page.slug == "landing" %}
        <img src="{{ page.baseurl }}images/logo-blue.png" class="navbar-brand" height="100">
      {% elsif page.slug != "landing" %}
        <a href="{{ page.baseurl }}"><img src="{{ page.baseurl }}images/logo-black.png" class="navbar-brand" height="100"></a>
      {% endif %}
      </div>
